/* Stili generali per la pagina */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Colore di sfondo chiaro */
  }
 
  body {
    min-height: 683vh; /* scroll pagina */
}


  /*testo 1 */
  .esplora-i-parchi-d-italia,
.esplora-i-parchi-d-italia * {
  box-sizing: border-box;
}
.esplora-i-parchi-d-italia {
  color: var(--color-black, #000000);
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 80px;
  line-height: 108%;
  letter-spacing: -0.06em;
  font-weight: 500;
  position: relative;
 top: 80px;
 left: 60px;
}

 /*testo 2*/
.i-parchi-naturali-italiani-sono-un-tesoro-di-ecosistemi-ricchi-paesaggi-mozzafiato-e-unici-legami-tra-uomo-e-ambiente-scopri-flora-fauna-e-le-storie-che-rendono-speciale-ogni-angolo-protetto-del-nostro-paese,
.i-parchi-naturali-italiani-sono-un-tesoro-di-ecosistemi-ricchi-paesaggi-mozzafiato-e-unici-legami-tra-uomo-e-ambiente-scopri-flora-fauna-e-le-storie-che-rendono-speciale-ogni-angolo-protetto-del-nostro-paese
  * {
  box-sizing: border-box;
}
.i-parchi-naturali-italiani-sono-un-tesoro-di-ecosistemi-ricchi-paesaggi-mozzafiato-e-unici-legami-tra-uomo-e-ambiente-scopri-flora-fauna-e-le-storie-che-rendono-speciale-ogni-angolo-protetto-del-nostro-paese {
  color: var(--color-black, #000000);
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 20px;
  line-height: 129%;
  font-weight: 400;
  position: relative;
  top: 110px;
  left: 65px;
}



/*sezione immagine */
img {
    width: 80px; /* Imposta la larghezza a 100px */
    height: auto; /* Mantiene le proporzioni originali */
  }

  img {
    width: 100%;
    height: auto;
position: absolute;
top: 450px;

  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
   
   
  }
  
  img {
 
    border-radius: 20px; /* bordi arrotondati */
  }

  img {
    width: 96%;
    height: 360px;
    position: absolute;
   left: 20px;
   bottom: 90px;
    object-fit: cover; /* Ritaglia l'immagine per riempire il contenitore */
  }
  
  /* spazio laterale */
  img {
    margin: 0 20px 20px;  /* 0px sopra, 20px a sinistra e a destra, 50px sotto */
  }
  

/* icone attività  */
.activities-section {
    max-width: 951px;
  }
  
  .activities-container {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 40px 57px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .section-title {
    color: #000000;
    font-size: 24px;
    font-family:
      Poppins,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-weight: 500;
    line-height: 1;
    align-self: stretch;
    margin-top: auto;
    margin-bottom: auto;
    width: 208px;
    position: relative;
   top: 620px;
   left: 160px;
  }
  
  .activities-grid {
    align-self: stretch;
    min-width: 240px;
    margin-top: auto;
    margin-bottom: auto;
    width: 684px;
  }
  
  .activities-row {
    gap: 20px;
    display: flex;
  }
  
.activity-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    line-height: normal;
    width: 25%;
  
}
  .activity-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: stretch;
    font-family:
      Poppins,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    white-space: nowrap;
    line-height: 1;
    position: relative;
   top: 5px;
   left: 200px;
  }
  
  .activity-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 98px;
  }
  
  .activity-icon-large {
    width: 114px;
  }
  
  .activity-title {
    font-size: 16px;
    margin-top: 10px;
    font-weight: 600;
    position: relative;
   top: 700px;
   left: 50px;
  }
  
  @media (max-width: 991px) {
    .activities-container {
      max-width: 100%;
    }
  
    .activities-grid {
      max-width: 100%;
    }
  
    .activities-row {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  
    .activity-card {
      width: 100%;
    }
  
    .activity-content {
      margin-top: 40px;
      white-space: initial;
    }
  
    .activity-title {
      margin-right: 10px;
    }
  }
  


  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");


  /* sezione 1  */
.trek-section {
  padding: 76px 0;
}

.trek-container {
  gap: 20px;
  display: flex;
}

.trek-content-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  line-height: normal;
  width: 41%;
}

.trek-text-content {
  margin-top: auto;
  margin-bottom: auto;
  align-self: stretch;
  font-family:
    Poppins,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  color: #000000;
}

.trek-title {
  font-size: 50px;
  font-weight: 500;
  line-height: 57px;
  margin: 0;
position: relative;
top: 750px;
left: 100px;
}

.trek-description {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 40px;
  margin-bottom: 0;
  position: relative;
top: 780px;
left: 110px;
}

.trek-image-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  line-height: normal;
  width: 100%;
  margin-left: 20px;
}
.trek-image {
 border-radius: 0%;
    object-fit: cover;
    object-position: center;
    width: 550px;
    flex-grow: 1;
    position: relative;
    top: 780px;
    left: 400px;
    height: 500px;
}

@media (max-width: 991px) {
  .trek-container {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .trek-content-column {
    width: 100%;
  }

  .trek-text-content {
    max-width: 100%;
    margin-top: 40px;
  }

  .trek-title {
    font-size: 40px;
    line-height: 51px;
    max-width: 100%;
  }

  .trek-description {
    max-width: 100%;
  }

  .trek-image-column {
    width: 100%;
    margin-left: 0;
  }

  .trek-image {
    max-width: 100%;
    margin-top: 40px;
  }
}


/* sezione 2  */

.birdwatching-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  .image-grid {
    width: 100%;
  }
  
  .image-grid-container {
    gap: 5px;
    display: flex;
  }
  
  .image-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    line-height: normal;
    width: 33%;
    margin: 0;
    position: relative;
top:480px;
left: -30px;
}
  
  .image-column:not(:first-child) {
    margin-left: 20px;
  }
.tall-image {
    aspect-ratio: 0.75;
    object-fit: contain;
    object-position: center;
    width: 100%;
    flex-grow: 1;
    height: 600px; /* Aumenta la grandezza */
}
  .stacked-images {
    flex-grow: 1;
  }
  
  .wide-image {
    aspect-ratio: 1.49;
    object-fit: contain;
    object-position: center;
    width: 100%;
    position: relative;
    top: 350px;
  }
  
  .wide-image:last-child {
    margin-top: 28px;
  }
  
  .content-section {
    align-self: center;
    display: flex;
    margin-top: 35px;
    width: 100%;
    max-width: 1028px;
    flex-direction: column;
    align-items: stretch;
    font-family:
      Poppins,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    color: #000000;
    text-align: center;
    justify-content: start;
  }
  
  .title {
    font-size: 50px;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    position: relative;
   top: 830px;
  }
  
  .description {
    align-self: center;
    margin-top: 36px;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 0;
    position: relative;
    top: 830px;
  }
  
  @media (max-width: 991px) {
    .image-grid {
      max-width: 100%;
    }
  
    .image-grid-container {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  
    .image-column {
      width: 100%;
      margin-left: 0 !important;
    }
  
    .tall-image {
      max-width: 100%;
      margin-top: 20px;
    }
  
    .stacked-images {
      max-width: 100%;
      margin-top: 20px;
    }
  
    .wide-image {
      max-width: 100%;
    }
  
    .content-section {
      max-width: 100%;
    }
  
    .title {
      max-width: 100%;
      font-size: 40px;
    }
  
    .description {
      max-width: 100%;
    }
  }
  

/* sezione 3 */
  .excursion-section {
    width: 100%;
  }
  
  .excursion-container {
    gap: 20px;
    display: flex;
  }
  
.image-column2 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    line-height: normal;
    width: 50%;
    margin-left: 0;
    position: relative;
    left: -80px;
    top:450px;
}

.excursion-image {
    aspect-ratio: 0.76;
    object-fit: contain;
    object-position: center;
    width: 100%;
    flex-grow: 1;
    height: 600px; /* Aumenta la grandezza */
}
  
  .content-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  
  .content-wrapper {
    margin-top: auto;
    margin-bottom: auto;
    align-self: stretch;
    font-family:
      Poppins,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    color: #000000;
  }
  
  .excursion-title {
    font-size: 50px;
    font-weight: 500;
    line-height: 57px;
    margin: 0;
    position: relative;
    top: 1060px;
    left: -30px;
  }
  
  .excursion-description {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 40px;
    margin-bottom: 0;
    position: relative;
    top: 1090px;
    left: -30px;
  }
  
  @media (max-width: 991px) {
    .excursion-container {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  
    .image-column {
      width: 100%;
    }
  
    .excursion-image {
      max-width: 100%;
      margin-top: 40px;
    }
  
    .content-column {
      width: 100%;
      margin-left: 0;
    }
  
    .content-wrapper {
      max-width: 100%;
      margin-top: 40px;
    }
  
    .excursion-title {
      max-width: 100%;
      font-size: 40px;
      line-height: 51px;
    }
  
    .excursion-description {
      max-width: 100%;
    }
  }
  

  /* sezione 4 */

  .nature-trail-section {
    font-family:
      Poppins,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    color: #000000;
  }
  
  .nature-trail-container {
    gap: 20px;
    display: flex;
  }
  
  .content-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    line-height: normal;
    width: 50%;
    margin-left: 0;
  }
  
  .text-content {
    margin-top: auto;
    margin-bottom: auto;
    align-self: stretch;
  }
  
  .text-wrapper {
    border-radius: 0;
    max-width: 100%;
    width: 542px;
  }
  
  .trail-title {
    font-size: 50px;
    font-weight: 500;
    line-height: 57px;
    margin-right: 22px;
    position: relative;
    top: 1500px;
    left: 100px;
  }
  
  .trail-description {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 40px;
    position: relative;
    top: 1500px;
    left: 100px;
  }
  
.image-column8 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
    position: relative;
    top: 950px;
    left: 20px;
}

.trail-image {
    aspect-ratio: 0.82;
    object-fit: contain;
    object-position: center;
    width: 100%;
    flex-grow: 1;
    height: 600px; /* Aumenta la grandezza */
}
  
  @media (max-width: 991px) {
    .nature-trail-container {
      flex-direction: column;
      align-items: stretch;
      gap: 0;
    }
  
    .content-column {
      width: 100%;
    }
  
    .text-content {
      max-width: 100%;
      margin-top: 40px;
    }
  
    .trail-title {
      max-width: 100%;
      margin-right: 10px;
      font-size: 40px;
      line-height: 51px;
    }
  
    .trail-description {
      max-width: 100%;
    }
  
    .image-column {
      width: 100%;
    }
  
    .trail-image {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  

  
/*footer */
.footer,
.footer * {
    box-sizing: border-box;
}

.footer {
    position: relative;
   bottom: -1750px ;
   justify-content: center;

}

.rectangle-647 {
    background: #0d1f38;
    width: 2444px;
    height: 385px;
    position:absolute;
    left: 0px;
    top: 0px;
}

.info {
    width: 1280.36px;
    height: 234px;
    position: center;
}

.frame-3 {
    display: flex;
    flex-direction: row;
    gap: 124px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 84px;
    top: 59px;
}

._24-px {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.logo-3 {
    flex-shrink: 0;
    width: 211px;
    height: 32px;
    position: static;
}

.parchi-d-italia-1 {
    color: #ffffff;
    text-align: left;
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 29.462657928466797px;
    line-height: 31.1px;
    font-weight: 700;
    position: absolute;
    left: 0px;
    top: 0px;
}

.copyright {
    color: #ffffff;
    text-align: left;
    font-family: var(--paragraph-default-font-family, 'DmSans-Regular', sans-serif);
    font-size: var(--paragraph-default-font-size, 18px);
    line-height: var(--paragraph-default-line-height, 30px);
    font-weight: var(--paragraph-default-font-weight, 400);
    position: relative;
    width: 310.36px;
}

.social-media-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.social-media-icon-square-facebook {
    flex-shrink: 0;
    width: 11px;
    height: 19px;
    position: relative;
    overflow: visible;
}

.social-media-icon-square-instagram {
    flex-shrink: 0;
    width: 19px;
    height: 19px;
    position: relative;
    overflow: visible;
}

.social-media-icon-square-linked-in {
    flex-shrink: 0;
    width: 19px;
    height: 18px;
    position: relative;
}

.group-73 {
    width: 94.74%;
    height: 95.24%;
    position: absolute;
    right: 0.79%;
    left: 4.47%;
    bottom: 0.19%;
    top: 4.58%;
    overflow: visible;
}

.social-media-icon-square-you-tube {
    flex-shrink: 0;
    width: 21px;
    height: 15px;
    position: relative;
}

.group-732 {
    width: 94.29%;
    height: 93.31%;
    position: absolute;
    right: 1.19%;
    left: 4.52%;
    bottom: 4.04%;
    top: 2.64%;
    overflow: visible;
}

.footer-right {
    flex-shrink: 0;
    width: 165px;
    height: 158px;
    position: static;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 434.36px;
    top: 0px;
}

.footer-title {
    color: #ffffff;
    text-align: left;
    font-family: var(--text-single-300-bold-font-family, 'DmSans-Bold', sans-serif);
    font-size: var(--text-single-300-bold-font-size, 20px);
    line-height: var(--text-single-300-bold-line-height, 22px);
    font-weight: var(--text-single-300-bold-font-weight, 700);
    position: relative;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.link {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.master-link {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.home {
    color: #ffffff;
    text-align: center;
    font-family: var(--text-single-200-regular-font-family, 'DmSans-Regular', sans-serif);
    font-size: var(--text-single-200-regular-font-size, 18px);
    line-height: var(--text-single-200-regular-line-height, 20px);
    font-weight: var(--text-single-200-regular-font-weight, 400);
    position: relative;
}

.chi-siamo {
    color: #ffffff;
    text-align: center;
    font-family: var(--text-single-200-regular-font-family, 'DmSans-Regular', sans-serif);
    font-size: var(--text-single-200-regular-font-size, 18px);
    line-height: var(--text-single-200-regular-line-height, 20px);
    font-weight: var(--text-single-200-regular-font-weight, 400);
    position: relative;
}

.termini-e-condizioni {
    color: #ffffff;
    text-align: center;
    font-family: var(--text-single-200-regular-font-family, 'DmSans-Regular', sans-serif);
    font-size: var(--text-single-200-regular-font-size, 18px);
    line-height: var(--text-single-200-regular-line-height, 20px);
    font-weight: var(--text-single-200-regular-font-weight, 400);
    position: relative;
}

.footer-column2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.privacy-policy {
    color: #ffffff;
    text-align: center;
    font-family: var(--text-single-200-regular-font-family, 'DmSans-Regular', sans-serif);
    font-size: var(--text-single-200-regular-font-size, 18px);
    line-height: var(--text-single-200-regular-line-height, 20px);
    font-weight: var(--text-single-200-regular-font-weight, 400);
    position: relative;
}

.cookie-policy {
    color: #ffffff;
    text-align: center;
    font-family: var(--text-single-200-regular-font-family, 'DmSans-Regular', sans-serif);
    font-size: var(--text-single-200-regular-font-size, 18px);
    line-height: var(--text-single-200-regular-line-height, 20px);
    font-weight: var(--text-single-200-regular-font-weight, 400);
    position: relative;
}

.link2 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 116px;
    height: 20px;
    position: relative;
}

.group-39464 {
    flex-shrink: 0;
    width: 265px;
    height: 208px;
    position: static;
}

.link3 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 1015.36px;
    top: 64px;
}

.line-rounded-email {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
}

.email {
    width: 83.33%;
    height: 62.5%;
    position: absolute;
    right: 8.33%;
    left: 8.33%;
    bottom: 18.17%;
    top: 19.33%;
    overflow: visible;
}

.link-item {
    color: #ffffff;
    text-align: center;
    font-family: var(--text-single-200-regular-font-family, 'DmSans-Regular', sans-serif);
    font-size: var(--text-single-200-regular-font-size, 18px);
    line-height: var(--text-single-200-regular-line-height, 20px);
    font-weight: var(--text-single-200-regular-font-weight, 400);
    position: relative;
}

.footer-column3 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 1015.36px;
    top: 0px;
}

.link4 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 1015.36px;
    top: 106px;
}

.line-rounded-phone {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
}

.phone {
    width: 83.34%;
    height: 83.33%;
    position: absolute;
    right: 8.32%;
    left: 8.33%;
    bottom: 9.84%;
    top: 6.83%;
    overflow: visible;
}

._8-px {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 1015.36px;
    top: 148px;
}

.spacer-icon-wrapper {
    flex-shrink: 0;
    width: 20px;
    height: 25.7px;
    position: static;
}

.line-rounded-mark {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 5.7px;
    overflow: hidden;
}

.mark {
    width: 68.61%;
    height: 83.33%;
    position: absolute;
    right: 15.7%;
    left: 15.7%;
    bottom: 8.33%;
    top: 8.33%;
    overflow: visible;
}

.spacer {
    background: #ededed;
    opacity: 0;
    width: 16.74px;
    height: 10.46px;
    position: absolute;
    left: 1.41px;
    top: 0px;
}

.footer-description {
    color: #ffffff;
    text-align: left;
    font-family: var(--paragraph-default-font-family, 'DmSans-Regular', sans-serif);
    font-size: var(--paragraph-default-font-size, 18px);
    line-height: var(--paragraph-default-line-height, 30px);
    font-weight: var(--paragraph-default-font-weight, 400);
    position: relative;
    width: 197.62px;
}

.copyright2 {
    width: 1302px;
    height: 50px;
    position: static;
}

.footer-botom {
    width: 1302px;
    height: 50px;
    position: static;
}

.copyright3 {
    color: #f5f5fa;
    text-align: center;
    font-family: var(--text-single-200-regular-font-family, 'DmSans-Regular', sans-serif);
    font-size: var(--text-single-200-regular-font-size, 18px);
    line-height: var(--text-single-200-regular-line-height, 18px);
    font-weight: var(--text-single-200-regular-font-weight, 400);
    position: absolute;
    left: 491.35px;
    top: 330px;
    width: 466.37px;
}

.divider {
    margin-top: -1px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px 0 0 0;
    width: 1302px;
    height: 0px;
    position: absolute;
    left: 1375px;
    top: 298px;
    transform-origin: 0 0;
    transform: rotate(180deg) scale(1, 1);
}